@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
        --cor-primaria: #2c3639;
        --cor-secundaria:#dcd7c9;
        --cor-terciaria: #a27b5c;
        --cor-hover: #3f4e4f;

        --fonte-principal: 'Krona One', sans-serif;
        --fonte-secundaria: 'Montserrat';
}


*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.62rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    
    
}



.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto{
    font-size: 1.62rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentaçao_links_subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400px;
    font-size: 1.62rem;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.62rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid rgb(138, 138, 240);
    
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    font-size: 2rem;
}
.img1{
    width: 50%;
}

.footer_fim{
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.62rem;
    font-weight: 400px;

}

@media (max-width:1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}